.content-block{
    display : flex;
    align-items: right;
}

.product-block{
    /* flex : 1; */
    flex-grow: 1;
}

.greenBG{
    background-color: green;
    /* font color is white*/
    color: white;
}

.greenBanner{
    background-color: green;
}

.banner{
    background-color: #323e3e9b;
    padding: 10px;
    color: #f1f1f1;
    flex-grow: 1;
}

